<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/info.css">
    </head>

    <body>
        <div class="container">

            <div class="wrap">

                <h1 style="text-align: center;">
                    Đăng ký tài khoản
                </h1>
                <form action="/register" class="info-form" method="POST" enctype="multipart/form-data">
                    <div class="form-control">
                        <label for="">Email</label>
                        <input name="email" value="<%= oldInput.email%>"></input>
                        <%if(emailError){%>
                            <p class="user-message--error">
                                <%=emailError%>
                            </p>
                            <%}%>
                    </div>
                    <div class="form-control">
                        <label for="">Mật khẩu</label>
                        <input name="password" type="password" value="<%= oldInput.password%>"></input>
                        <%if(passwordError){%>
                            <p class="user-message--error">
                                <%=passwordError%>
                            </p>
                            <%}%>
                    </div>
                    <div class="form-control">
                        <label for="title">Họ và tên</label>
                        <input class="" type="text" name="name" value="<%= oldInput.name%>">
                        <%if(nameError){%>
                            <p class="user-message--error">
                                <%=nameError%>
                            </p>
                            <%}%>
                    </div>
                    <div class="form-control">
                        <label for="title">Ngày sinh</label>
                        <input class="" type="date" name="doB" value="<%= oldInput.doB%>">
                        <%if(doBlError){%>
                            <p class="user-message--error">
                                <%=doBlError%>
                            </p>
                            <%}%>
                    </div>
                    <div class="form-control">
                        <label for="title">Hệ số lương</label>
                        <input class="" type="text" name="salaryScale" value="<%= oldInput.salaryScale%>">
                        <%if(salaryScaleError){%>
                            <p class="user-message--error">
                                <%=salaryScaleError%>
                            </p>
                            <%}%>
                    </div>
                    <div class="form-control">
                        <label for="title">Ngày vào công ty</label>
                        <input class="" type="date" name="startDate" value="<%= oldInput.startDate%>">
                        <%if(startDateError){%>
                            <p class="user-message--error">
                                <%=startDateError%>
                            </p>
                            <%}%>
                    </div>
                    <div class="form-control">
                        <label for="title">Phòng ban</label>
                        <input class="" type="text" name="department" value="<%= oldInput.department%>">
                        <%if(departmentError){%>
                            <p class="user-message--error">
                                <%=departmentError%>
                            </p>
                            <%}%>
                    </div>
                    <div class="form-control">
                        <label for="title">Role</label>
                        <select name="role" class="select-role">
                            <option value="Basic">Basic</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                    <div class="form-control">
                        <label for="title">Email quản lý</label>
                        <input class="" type="text" name="managerEmail" value="<%= oldInput.managerEmail%>">
                        <%if(managerEmailError){%>
                            <p class="user-message--error">
                                <%=managerEmailError%>
                            </p>
                            <%}%>
                    </div>
                    <div class="form-control">
                        <label for="image">Image</label>
                        <input type="file" name="imageFile" id="image">
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                    <button class="btn">Đăng ký</button>
                </form>
                <p class="info-form"><a href="/">Go to Login</a></p>

            </div>

        </div>
    </body>