<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/info.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <div class="container">
                <div class="wrap">
                    <h2>Thông tin cá nhân</h2>
                    <div class="wrap-info">
                        <form class="info-form" action="/profile/info" method="POST">
                            <div class="form-control">
                                <label for="title">Mã nhân viên</label>
                                <input class="" type="text" name="id" value="<%= staff._id%>" readonly>
                            </div>
                            <div class="form-control">
                                <label for="title">Họ và tên</label>
                                <input class="" type="text" name="name" value="<%= staff.name %>" readonly>
                            </div>
                            <div class="form-control">
                                <label for="title">Ngày sinh</label>
                                <input class="" type="text" name="doB" value="<%= staff.doB%>" readonly>
                            </div>
                            <div class="form-control">
                                <label for="title">Hệ số lương</label>
                                <input class="" type="text" name="salaryScale" value="<%= staff.salaryScale %>"
                                    readonly>
                            </div>
                            <div class="form-control">
                                <label for="title">Ngày vào công ty</label>
                                <input class="" type="text" name="startDate" value="<%= staff.startDate %>" readonly>
                            </div>
                            <div class="form-control">
                                <label for="title">Phòng ban</label>
                                <input class="" type="text" name="department" value="<%= staff.department %>" readonly>
                            </div>
                            <div class="form-control">
                                <label for="title">Ngày phép còn lại</label>
                                <input class="" type="text" name="annualLeave" value="<%= staff.annualLeave/8 %>"
                                    readonly>
                            </div>
                            <div class="form-control">
                                <label for="">Image</label>
                                <input type="text" name="imageFile" id="imageFile" value="<%= staff.image%>">
                            </div>
                            <button class="btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <%- include('../includes/end.ejs') %>