<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/checkin.css">
    <link rel="stylesheet" href="/css/timelist.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs',{role:role,name:name}) %>
            <div class="container">

                <div id="listStaff">
                    <h2>Danh sách nhân viên</h2>
                    <div style="overflow-x:auto;">
                        <table>
                            <tr>
                                <td>STT</td>
                                <td>Tên</td>
                                <td>Thông tin giờ làm</td>
                            </tr>

                            <%staffs.forEach(function(staff,index){%>
                                <tr>
                                    <td>
                                        <%= index+1%>
                                    </td>
                                    <td>
                                        <%= staff.name%>
                                    </td>
                                    <td><a href="/confirmTimesheet/<%= staff.id%>">Xem</a></td>
                                </tr>
                                <%})%>

                        </table>
                    </div>
                </div>

                <%- include('../includes/end.ejs') %>